<% content_for(:left_content) do %>
  <h4>My Groups</h4>
  <ul>
    <% @user.groups.each do |group| -%>
      <li><%= link_to group.name, group_path(group) -%></li>
    <% end -%>
  </ul>
  <%= link_to 'Create a New Group', new_group_path -%>
<% end -%>
<h3>Dashboard</h3>
<p>
  Welcome, <%= @user.name -%>!<br />
</p>

<% unless @invitations.empty? -%>
  <h3>Invitations</h3>
  <ul class="msgs">
    <% @invitations.each do |invitation| -%>
      <li><%= link_to invitation.group.owner.name, user_path(invitation.group.owner) -%> has invited you to join 
          <%= link_to "##{invitation.group.name}", group_path(invitation.group) -%>.
	  <%= link_to "Accept?", invitation_path(invitation, :user_id => @user.id), :method => :put -%>
      </li>
    <% end -%>
  </ul>
<% end -%>

<!--
<h3>Post Message</h3>
<% form_for @message do |f| %>
  <p>
    <%= f.error_messages %><br/>
    <%= f.text_area :body, :size => '35x2' %>
    <%= f.submit 'Post', :class => 'postbutton'  %>
  </p>
<% end %>
-->

<h3>Messages</h3>
<ul class="msgs">
  <% @messages.each do |message| %>
    <li>
      <span class="msg">
        <strong><%= link_to message.user.username, user_path(message.user) -%></strong> 
        to <strong><%= link_to "#" + message.group.name, group_path(message.group) -%></strong>
        <%= message.body %>
        <span class="metainfo">
          <%= time_ago_in_words(message.created_at) -%> ago
        </span>
      </span>
    </li>
  <% end %>
  <% if @messages.empty? -%>
    <li> No messages yet. </li>
  <% end -%>
</ul>
