<% content_for(:left_content) do %>
  <h4>My Groups</h4>
  <ul>
    <% Group.all.each do |group| -%>
      <li><%= link_to group.name, group_path(group) -%></li>
    <% end -%>
  </ul>
<% end -%>
<h3>Dashboard</h3>
<p>
  Welcome, <%= @user.name -%>!<br />
  <%= link_to 'Create a New Group', new_group_path -%>
</p>

<h3>Post Message</h3>

<% form_for @message do |f| %>
  <p>
    <%= f.error_messages %><br/>
    <%= f.text_area :body, :size => '35x2' %>
    <%= f.submit 'Post', :class => 'postbutton'  %>
  </p>
<% end %>

<h3>Messages</h3>
<ul class="msgs">
  <% @messages.each do |message| %>
    <li>
      <span class="msg">
        <strong><%= link_to message.user.username, user_path(message.user) -%></strong> 
        to <strong><%= link_to "#" + message.group.name, group_path(message.group) -%></strong>
        <%= message.body %>
        <span class="metainfo">
          <%= time_ago_in_words(message.created_at) -%> ago
        </span>
      </span>
    </li>
  <% end %>
</ul>
