<h3>Login!</h3>

<% form_for @user_session do |f| %>
  <p>
    <%= f.error_messages %>
    <%= f.label :username, "Username" %>:
    <%= f.text_field :username %><br/>
    <%= f.label :password, "Password" %>:
    <%= f.password_field :password %><br/>

    <%= f.submit "Login" %>
  </p>
<% end %>

<h3><%= link_to "Create New User >>", new_user_path %></h3>
